*{
    margin:0;
    padding:0;
}
.main{
    width:100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5),rgba(0,0,0,0.5)50%),url(images/background.jpg);
    background-position:center;
    background-size:cover;
    height:100vh;
    

}

.icon{
    padding:30px 100px;
}
.icon h1{
    font-weight:600;
    font-size:50px;
    margin-top: -30px;
}
/*
.logo{
    color:#ff7200;
    font-size:  50px;
    font-family: sans-serif;
    padding-left:420px;
    
  
 

}
*/
.container{
    width:1200px;
    height:auto;
    margin:auto;
    color:white;
    position:relative;
    padding-top:30px;
}
.container .p
{
    padding-left:20px;
    padding-bottom:25px;
    font-family:arial;
    letter-spacing:1.2px;
    line-height:0px;
    font-size: 18px;
}
.container h1{
    color: 	#00FA9A;
    font-family:'Times New Roman';
    font-size:40px;
    padding-left:20px;
    margin-top:9%;
    letter-spacing:2px;
}
.container .login
{   

    margin-left:150px;
    width:160px;
    height:40px;
    background:#ff7200;
    border:none;
    border-radius:10px;
    font-size:20px;
    cursor:pointer;
    transition:10s ease;
}
.container .login a{
    text-decoration:none;
    color:black;
    transition:.7s ease;
}
.login:hover{
    background:#FF69B4;
}