@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
 }
 
body{
    padding-top: 54px;
    font-family: 'Poppins',sans-serif;
    font-size:14px;
    color:#4e3914;
    overflow-x: hidden;
}

@media (min-width :992px){
    body{
        padding-top: 80px;
    }
}
a.btn-primary{
    background-color: #4eae3a;
    border-color:#4eae3a;
}

a.btn-primary:hover{
    background-color:#5ec549;
    border-color:#5ec549;   
}

button.btn-primary{
    background-color: #4eae3a;
    border-color:#4eae3a;

}
button.btn-primary:hover{
    background-color: #5ec549;
    border-color:#5ec549;

}
a.btn.secondary{
    background-color: #4eae3a;
    color:#4eae3a;
  
}
a.btn-secondary:hover{
    background-color: #5ec549;
    color:#5ec549;
}
button.btn-secondary{
    background-color: #4eae3a;
    color:#4eae3a;
   
}
button.btn-secondary:hover{
    background-color: #5ec549;
    color:#5ec549; 
}

.top-nav{
    background-color: #ffffff;
}

.navbar-expand-lg.top-nav .navbar-nav .nav-link{
    padding: 10px 15px;
    color: #4eae3a;
    font-size: 14px;
    font-weight:300 ;
    text-transform: uppercase;
}
.navbar-expand-lg.top-nav .navbar-nav .nav-link:hover{
    background: #4eae3a;
    color: #ffffff;;
    border-radius: 4.8px;
}
.navbar-expand-lg.top-nav .navbar-nav .nav-link:active{
    background: #4eae3a;
    color: #ffffff;;
    border-radius: 4.8px;
}
.top-nav .navbar-toggler{
    color:#4e3914;
    border-color:#4e3914;
}
.top-nav .navbar-toggler:hover{
    color:#4eae3a;
    border-color:#4eae3a;
}
h3{
   font-size: 10px;
}
.pop{
    padding:30px 100px;
}

.pop h4{
    font-weight:600;
    font-size:24px;
    margin-bottom:20px;
}
.pop .card{
    border:none;
    border-radius: 4px;
    overflow:hidden;


}
.language{
    position:relative;
    width:120px;
    margin-left: 20px;
    font-weight: bold;
}
.language-selected{
    display:flex;
    align-items: center;
    color:rgb(93, 224, 32);
    cursor: pointer;
    
}
.language-selected:before{
    content:'';
    display: inline-block;
    width:30px;
    height:30px;
    margin-right: 10px;
}

.language ul{
    position: absolute;
    width: 140px;
    background-color: white;
    border:1px solid #f8f8f8;
    padding-top: 10px;
    box-shadow: 0px 1px 10px rgba(0,0,0.5);
    display: none;

}
.language ul li{
    list-style: none;
}
.language ul li a{
    display: block;
    color:#252525;
    padding-top: 5px 10px;

}
.language ul li:hover{
    background-color: #f8f8f8;
}
.language ul li a:before{
    content:'';
    display: inline-block;
    width:30px;
    height:25px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;

}
.language:hover ul {
    display:block;
}




 
